fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
python-dotenv
apscheduler
feedparser
trafilatura
beautifulsoup4
lxml
cloudscraper
spacy
google-generativeai
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
